@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;1,100;1,400&display=swap");
* {
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
}
*::selection {
  background-color: rgba(0, 192, 192, 0.685);
}
header {
  background-color: rgba(0, 0, 0, 0.952);
  color: white;
  border-bottom: solid 2px rgb(77, 77, 77);
  padding: 10px;
  /* margin-bottom: 20px; */
}

.compName {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  padding-bottom: 0px;
}
.compName img {
  height: 75px;
  width: auto;
  padding: 5px;
  filter: grayscale(100%);
  /* filter: invert(1); */
}
#navbar {
  background-color: rgba(0, 0, 0, 0.85);
  padding: 10px;
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 10;
}
#navbar ul {
  display: flex;
  justify-content: center;
  padding: 0px;
}
#navbar li {
  list-style: none;
  padding: 0px;
}

#navbar li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  padding: 0px;
  padding-right: 20px;
  padding-left: 20px;
}

#about{
  box-sizing: border-box;
  border-right: solid 1.5px gray;
  border-left: solid 1.5px gray;
}
#contact{
  box-sizing: border-box;
  /* border-right: solid 1.5px gray; */
  border-left: solid 1.5px gray;
}

#navbar ul li a:hover {
  color: rgb(134, 134, 134);
  text-decoration: underline;
}
footer {
  background-color: rgb(36, 36, 36);
  color: white;
  padding: 15px;
  text-align: center;
  height: 50px;
  
}
body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(212, 212, 212); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.85); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 2px solid rgb(212, 212, 212); /* creates padding around scroll thumb */
}
