.donate-box{
    display: flex;
    flex-direction: column;
}

.restaurant-cards{
    display: flex;
    flex: row;
    margin: 20px 20px 0px 20px;
    background-color: rgb(224, 224, 224);
}

.card{
    
    border: solid 2px black;
    border-radius: 20px;
    height:fit-content;
    padding: 20px;
    text-align: center;
    box-shadow:0px 0px 10px gray;
}

.restaurant-cards img{
    width: 25%;
    border-radius: 20px;
}

.restaurant-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 20px;
}
.card:hover{
    transition: 0.5s;
    transform: scale(1.02);
}

.card h2:hover{
    text-decoration: underline;
}

.card h3:hover{
    color: grey;
}

.card h3{
    text-align: left;
    padding: 10px 0px;
}

.donation-box form{
    display: flex;
    flex-direction: column;
    width: 250px;
}

.donation-box form input,.donation-box form button{
    padding: 8px;
    margin: 10px 0px;
}

.btn{
    padding: 10px;
    margin: 10px;
    /* width: 100px; */
    border-radius: 20px;
    border: solid 2px black;
}

.btn:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}

.myForm input,textarea{
    /* width: 45%; */
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    border: solid 1.5px black;
    /* width: 150px; */
}

footer{
    margin-top: 20px;
}

.stars{
    display: flex;
    flex-direction: row;
    /* padding-top: 10px; */
}

.checked {
    color: orange;
  }